<div>
    <button (click)="startCamera()">Iniciar Cámara</button>
    <button (click)="startMovementValidation()">Validar Movimiento</button>
    <button (click)="stopCamera()">Cerrar Cámara</button>
    <p id="message"></p>
  </div>
  <div style="position: relative; display: inline-block;">
    <video id="video" width="640" height="480" autoplay style="transform: scaleX(-1);"></video>
    <div id="camera-overlay" 
         style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);
                color: white; background: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 5px;">
      Esperando...
    </div>
  </div>
  