
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div class="top-buttons">
    <button (click)="iniciarCamara()">🎥 Iniciar Cámara</button>
    <button (click)="iniciarValidacion()">✅ Iniciar Validación</button>
    <button (click)="detenerCamara()">❌ Detener Cámar</button>
 
  </div>

  <div class="video-container">
  
    <video #video autoplay muted playsinline  autoplay style="transform: scaleX(-1);"></video>
    <canvas #canvas class="overlay" style="position: absolute; top: 0; left: 0; transform: scaleX(-1);"></canvas>
 
    <!-- Mensajes superpuestos -->
    <div class="overlay-message">
      {{ statusMessage }}
    </div>
  </div>

<div *ngIf="esperandoResultadoFinal" class="cargando-resultado">
  ⏳ Validando información... esperando resultado final del backend.
</div>

</div>